# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# Dépendances locales
# =========================
libs/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.iml

# =========================
# Logs / Dumps
# =========================
*.log
*.tmp
*_dump.txt

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Environnement / Secrets
# =========================
.env
.env.*
